<!-- CodePen Credits

iOS style sliding menu - https://codepen.io/jasonhowmans/pen/dykhL
CSS Grid - Square Links - https://codepen.io/sethdavis512/pen/JZNqJe
Fixed bottom navigation bar bootstrap - https://codepen.io/bhatmahesht/pen/JdezEg
Morphing Play Button - https://codepen.io/stidges/pen/vAgrb

-->

<!-- Navigation -->
{% load static %}
<html>
    <head>

        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <link href="{% static "/css/main.css"%}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    </head> 

    <nav id="slide-menu">
        <ul>
            <div class="form-group">
                <label for="start_date">Subreddit</label>
                <select id="subreddits" class="selectpicker" onChange="get_mosaic(0)" data-live-search="true" style="width:100%">
                    {% for option in options %}
                        <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" style="margin-top:50px">
                <label for="start_date">Start Date</label>
                <input type="date" class="form-control" id="start_date" value="2021-01-01" min="2020-01-01" max="2021-02-01">
            </div>
            
            <div class="form-group">
                <label for="end_date">End Date</label>
                <input type="date" class="form-control" id="end_date" value="2021-01-14" min="2020-01-01" max="2021-02-01">
            </div>
            <div class="form-group" style="margin-top:50px">
                <a href="/static/mosaics/dankmemes_20201231.png" id="img_dwn" class="dwn_btn" download><i class="fa fa-download" download></i> Download</a>
            </div>
            


        </ul>
    </nav>

<!-- Content panel -->
    <div id="content" style="padding:0px">
        <div class="menu-trigger"></div>
        <div id="app">
        </div>

    </div>

    <body>

        
        <nav class="bottombar">
            <div class="container" style="text-align:center">
                <div class="navbar-header">
                    <div class="logo">
                        <p class="top">meme observatory</p>
                    </div>
                    
                    <div class="logo">
                        <p id="current-date" class="top">2021-01-01</p>
                    </div>
                    <button id="btn-1" onclick="get_mosaic(-1)" class="bar_btn"><i class="fa fa-step-backward"></i></button>
                    <button id="btn-2" onclick="startplaying()" class="bar_btn"><i class="fa fa-play"></i></button>
                    <button  id="btn-3" onclick="get_mosaic(1)" class="bar_btn"><i class="fa fa-step-forward"></i></button>
                </div>
                <div>

                </div>
            </div>
        </nav>

    </body>
<script src="{% static "/js/main.js"%}"></script>
<script>
</script>
</html>

<!--

|------Developed by------|
|------Mitch Chaiet------|
|---memetic influence----|
|-------March 2021-------|
|-HKS Shorenstein Center-|

__________████████_____██████
_________█░░░░░░░░██_██░░░░░░█
________█░░░░░░░░░░░█░░░░░░░░░█
_______█░░░░░░░███░░░█░░░░░░░░░█
_______█░░░░███░░░███░█░░░████░█
______█░░░██░░░░░░░░███░██░░░░██
_____█░░░░░░░░░░░░░░░░░█░░░░░░░░███
____█░░░░░░░░░░░░░██████░░░░░████░░█
____█░░░░░░░░░█████░░░████░░██░░██░░█
___██░░░░░░░███░░░░░░░░░░█░░░░░░░░███
__█░░░░░░░░░░░░░░█████████░░█████████
_█░░░░░░░░░░█████_████___████_█████___█
_█░░░░░░░░░░█______█_███__█_____███_█___█
█░░░░░░░░░░░░█___████_████____██_██████
░░░░░░░░░░░░░█████████░░░████████░░░█
░░░░░░░░░░░░░░░░█░░░░░█░░░░░░░░░░░░█
░░░░░░░░░░░░░░░░░░░░██░░░░█░░░░░░██
░░░░░░░░░░░░░░░░░░██░░░░░░░███████
░░░░░░░░░░░░░░░░██░░░░░░░░░░█░░░░░█
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░█
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░█
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░█
░░░░░░░░░░░█████████░░░░░░░░░░░░░░██
░░░░░░░░░░█▒▒▒▒▒▒▒▒███████████████▒▒█
░░░░░░░░░█▒▒███████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█
░░░░░░░░░█▒▒▒▒▒▒▒▒▒█████████████████
░░░░░░░░░░████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█
░░░░░░░░░░░░░░░░░░██████████████████
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░█
██░░░░░░░░░░░░░░░░░░░░░░░░░░░██
▓██░░░░░░░░░░░░░░░░░░░░░░░░██
▓▓▓███░░░░░░░░░░░░░░░░░░░░█
▓▓▓▓▓▓███░░░░░░░░░░░░░░░██
▓▓▓▓▓▓▓▓▓███████████████▓▓█
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█-->